body {
    background-color: #121212;
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

/* Estilos específicos para o componente Typebot */
typebot-standard {
    background-color: #000000;
    color: #ffffff;
}

